.invisible {
  display: none !important
}

.header {
  margin: 0 9%;
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 0;
  font-size: 15px;
  align-items: center;
}

.listMenuHorizontal {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 1.3rem;
    list-style-type: none;
    position: initial;

  }
}

.listMenuHorizontal a {
  color: inherit;
  text-decoration: none;
  padding: 10px;
  letter-spacing: 2px;
}

.listMenuHorizontal .buttonLogin {
  background-color: #fb5859;
  padding: 10px 35px;
  border-radius: 5px;
  color: white;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.navBar {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #262d48ef;
}

.headerBar {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.conteinerNavBar {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
  height: 90%;
}

.listMenu {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 3px;
  list-style-type: none;
  display: flex;
  gap: 20px;
  flex-direction: column;
  color: white;
  padding: 0;
  text-align: center;
}

.listMenu a {
  color: inherit;
  text-decoration: none;
  padding: 10px;
}

.listMenu .buttonLogin {
  display: block;
  border: solid 2px #fff;
  border-radius: 6px;
  /* height: 100%; */
  padding: 15px;
}

.burgerMenu {
  background-color: inherit;
  border-style: none;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
  padding: 0;

  @media (min-width: 768px) {
    display: none;
  }
}

.close {
  cursor: pointer;
}

.line {
  width: 100%;
  height: 1px;
  border-radius: 25px;
  background-color: #f0f8ff27
}

.redesFooter {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: end;
}

.redesFooter div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  gap: 40px;
}