.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.conteinerText {
  font-size: 16px;
  width: 100%;
  text-align: center;

  @media (min-width: 768px) {
    width: 470px;
  }
}

.conteinerText p {
  color: var(--textPage);
}


.conteinerTextTab {
  font-size: 16px;
  width: 100%;
  text-align: center;

  @media (min-width: 768px) {
    width: 470px;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
  }
}

.conteinerTextTab p {
  color: var(--textPage);
}

/* ----------------------- */

.listSelect {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 75px;
  margin-bottom: 35px;

  @media (min-width: 768px) {
    width: 470px;
  }
}

.listSelect ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.listSelect ul li {
  padding: 10px 30px;
  cursor: pointer;
}

.listSelect ul li:hover {
  color: #fc5858;
  ;
}

.listSelect .line {
  background-color: rgba(0, 0, 0, 0.192);
  width: 100%;
  height: 1px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.line .selectedlLine {
  background-color: #fc5858;
  width: 45%;
  height: 4px;
  border-radius: 4px;
  z-index: 2;
}


/* -------------------------------- */

.conteinerViewTab {
  display: flex;
  flex-direction: column;
  gap: 50px;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.conteinerViewTab .conteinerIllustration {
  position: relative;
}

.conteinerViewTab .conteinerIllustration img {
  width: 100%;
  max-height: 300px;

}

.conteinerViewTab .backgroundCard {
  position: absolute;
  width: 100%;
  height: 85%;
  background-color: #4c60cf;
  border-bottom-right-radius: 140px;
  top: 30%;
  left: -12.5%;
  z-index: -1;

  @media (min-width: 768px) {
    position: absolute;
    width: 110%;
    height: 80%;
    background-color: #4c60cf;
    border-bottom-right-radius: 200px;
    top: 40%;
    left: -25%;
    z-index: -1;
  }
}