.section {

  display: flex;
  flex-direction: column;
  font-size: 15px;
  gap: 50px;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
}

.conteinerIllustration {
  width: 100%;
  position: relative;
  z-index: -1;

  @media (min-width: 768px) {
    width: 50%;
  }
}

.conteinerIllustration img {
  width: 100%;

  @media (min-width: 768px) {
    width: 108%;
  }

}

.backgroundCard {
  position: absolute;
  width: 100%;
  height: 70%;
  background-color: #4c60cf;
  border-bottom-left-radius: 140px;
  top: 30%;
  right: -11%;
  z-index: -1;

  @media (min-width: 768px) {
    position: absolute;
    width: 100%;
    height: 70%;
    background-color: #4c60cf;
    border-bottom-left-radius: 200px;
    top: 30%;
    right: -25%;
    z-index: -1;
  }
}

/* -------------------------------- */

.conteinerHome {
  width: 100%;

  @media (min-width: 768px) {
    width: 50%;
    display: flex;
  }
}

.conteinerHome>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media (min-width: 768px) {
    text-align: start;
    align-items: start;
  }
}

.conteinerHome h2 {
  font-size: 1.7rem;

  @media (min-width: 768px) {
    font-size: 2.5rem;
  }
}

.conteinerHome p {
  color: var(--textPage);
  font-size: 16px;
}

.conteinerHome button {
  border: solid 0;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.conteinerButton {
  display: flex;
  gap: 10px;
}

.conteinerButton button:nth-child(1) {
  background-color: #4c60cf;
  color: white;

}